<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/homepage.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid" style="height:45px;">
          <img src="https://img.freepik.com/premium-vector/e-shopping-bag-logo-design-template_809852-1066.jpg?w=1060" alt="Logo" style="height: 60px; margin-right: 10px;">
          <form class="d-flex" role="search" action="{{ url_for('search') }}" method="GET">
            <input class="form-control me-2" type="search" placeholder="Search for Products, brands, and more" aria-label="Search" name="query" style="width:650px; border-radius: 0%;" value="{{ request.args.get('query', '') }}" />
        </form>        
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{{ url_for('homepage1') }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                        <path d="M8 3.293l6 6V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V9.293l6-6z"/>
                      </svg>
                      &nbsp;Home
                    </a>
                  </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center" href="{{ url_for('wishlist') }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path d="M8 1.314C3.562-3.248-7.534 4.735 8 15c15.534-10.265 4.437-18.248 0-13.686z"/>
                  </svg>
                  &nbsp;Favorites
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center" href="{{ url_for('cart') }}">
                  <svg class="V3C5bO" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86" fill="#fff"></path>
                  </svg>
                  &nbsp;Cart
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center" href="{{ url_for('orders') }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-bag-fill" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 0-2 2H4a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-2a2 2 0 0 0-2-2zm3 3a3 3 0 0 1-6 0H4v9a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4h-2z"/>
                  </svg>
                  &nbsp;Orders
                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center" href="{{url_for('contact_us')}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.611-.163l2.387 2.293c.329.316.445.785.317 1.21l-.804 2.71a1.745 1.745 0 0 1-.616.96l-.553.508a11.55 11.55 0 0 0 5.354 5.354l.508-.553c.28-.305.664-.505 1.06-.616l2.71-.804a1.745 1.745 0 0 1 1.21.317l2.293 2.387c.714.743.595 1.913-.163 2.611l-1.291 1.292c-.329.329-.8.457-1.258.346C9.747 14.462 4.879 9.707 1.805 3.544c-.11-.459.017-.93.346-1.258L3.443.674a1.745 1.745 0 0 1 1.291-.163l1.151.263z"/>
                  </svg>
                  &nbsp;Contact Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center" href="{{ url_for('logout') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 12a.5.5 0 0 1-.5-.5V9H4a.5.5 0 0 1-.5-.5V7.5a.5.5 0 0 1 .5-.5h6V3a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6v3a.5.5 0 0 1-.5.5h-3z"/>
                    </svg>
                    &nbsp;Logout
                </a>
            </li>
          
            </ul>
          </div>
        </div>
    </nav>

{% block content %}
      <div class="container my-4">
        <img src="/static/Photos/GentsBanner.gif" alt="Men Banner" class="banner">
          <div class="menImages">
               <a href="{{url_for('men1')}}"><img src="/static/men/1.jpg" alt=""></a>
               <a href="{{url_for('men2')}}"><img src="/static/men/2.jpg" alt=""></a>
               <a href="{{url_for('men3')}}"><img src="/static/men/3.jpg" alt=""></a>
               <a href="{{url_for('men4')}}"><img src="/static/men/4.jpg" alt=""></a>
               <a href="{{url_for('men5')}}"><img src="/static/men/5.jpg" alt=""></a>
               <a href="{{url_for('men6')}}"><img src="/static/men/6.jpg" alt=""></a>
          </div>
      </div>
    <div class="container my-5">
        <div class="row g-3">
            <div class="col-md-3">
                <div class="card h-100">
                    <div class="card-header text-center fw-bold">Watch</div>
                    <a href="{{url_for('watch')}}">
                    <img src="https://img.freepik.com/premium-photo/photo-watch-white-background_1077802-134680.jpg?w=1060" class="card-img-top" alt="Item Image">
                    </a>
                    <div class="card-footer text-center">
                      <span class="discount-text">Up to 40% off</span>
                  </div>                  
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100">
                    <div class="card-header text-center fw-bold">Shoes</div>
                   <a href="{{url_for('shoes')}}">
                    <img src="https://img.freepik.com/premium-photo/blue-white-sneaker-with-blue-band-side_970631-10045.jpg?w=1060" class="card-img-top" alt="Shoes Item Image">
                  </a>
                    <div class="card-footer text-center">
                      <span class="discount-text">Up to 38% off</span>
                  </div> 
                </div>
            </div>

            <div class="col-md-3">
                <div class="card h-100">
                    <div class="card-header text-center fw-bold">Laptop</div>
                    <a href="{{url_for('laptop')}}">
                    <img src="https://images.pexels.com/photos/205421/pexels-photo-205421.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load" class="card-img-top" alt="Laptop Item Image">
                    </a>
                    <div class="card-footer text-center">
                      <span class="discount-text">Up to 45% off</span>
                  </div> 
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100">
                    <div class="card-header text-center fw-bold">Iphone</div>
                    <a href="{{url_for('iphone')}}">
                    <img src="https://img.freepik.com/free-vector/realistic-grey-smartphone-with-three-cameras_52683-29937.jpg?t=st=1735376793~exp=1735380393~hmac=1707a2d4f3905fd72ed261156557686739c41b29f01b2003f214597cb47b9439&w=1060" class="card-img-top" alt="Iphone Item Image">
                    </a>
                    <div class="card-footer text-center">
                      <span class="discount-text">Up to 60% off</span>
                  </div> 
                </div>
            </div>

            <div class="col-md-3">
                <div class="card h-100">
                    <div class="card-header text-center fw-bold">Food Items</div>
                    <a href="{{url_for('food')}}">
                    <img src="/static/Photos/food.jpg" class="card-img-top" alt="Food Items Image">
                    </a>
                    <div class="card-footer text-center">
                      <span class="discount-text">Up to 78% off</span>
                  </div> 
                </div>
            </div>

            <div class="col-md-3">
                <div class="card h-100">
                    <div class="card-header text-center fw-bold">Camera</div>
                    <a href="{{url_for('camera')}}">
                    <img src="https://images.pexels.com/photos/249597/pexels-photo-249597.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="Camera Item Image">
                    </a>
                    <div class="card-footer text-center">
                      <span class="discount-text">Up to 60% off</span>
                  </div> 
                </div>
            </div>

            <div class="col-md-3">
              <div class="card h-100">
                  <div class="card-header text-center fw-bold">Washing Machine</div>
                  <a href="{{url_for('washing')}}">
                  <img src="https://img.freepik.com/free-vector/realistic-washing-machine-set-with-isolated-images-working-standby-laundry-machines-with-cleaning-detergents-vector-illustration_1284-83891.jpg?t=st=1735375982~exp=1735379582~hmac=f4b04d638c2407680dae2ba6b71afd46ed901f6c03242e8c5c7cf521d5f7fe93&w=1480" class="card-img-top" alt="Laptop Item Image">
                  </a>
                  <div class="card-footer text-center">
                    <span class="discount-text">Up to 45% off</span>
                </div> 
              </div>
          </div>

          <div class="col-md-3">
            <div class="card h-100">
                <div class="card-header text-center fw-bold">Ac Machine</div>
                <a href="{{url_for('ac')}}">
                <img src="https://img.freepik.com/free-photo/air-conditioner-mounted-white-wall_53876-128235.jpg?t=st=1735382742~exp=1735386342~hmac=5f0ba64bd3e57d6fecec3bb9a3011c5256eb962054111dde94fecc4453f122d7&w=1800" class="card-img-top" alt="Laptop Item Image">
                </a>
                <div class="card-footer text-center">
                  <span class="discount-text">Up to 65% off</span>
              </div> 
            </div>
        </div>
        
        <div class="col-md-3">
          <div class="card h-100">
              <div class="card-header text-center fw-bold">Musical KeyBoards</div>
              <a href="{{url_for('music')}}">
              <img src="https://img.freepik.com/free-photo/music-keys-headphones-recorder-microphone-black-background-flat-lay_169016-16378.jpg?t=st=1735386642~exp=1735390242~hmac=fc7e72d51111fc326249be9743b2aa1cd2cd913dfb99a4d533f5681f4db9247e&w=1800" class="card-img-top" alt="Laptop Item Image">
  </a>
              <div class="card-footer text-center">
                <span class="discount-text">Up to 32% off</span>
            </div> 
          </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100">
            <div class="card-header text-center fw-bold">Neem Plants</div>
            <a href="{{url_for('neem')}}">
            <img src="https://img.freepik.com/premium-photo/ornamental-potted-fatsia-japonica-isolated-white_126745-2492.jpg?w=1480" class="card-img-top" alt="Laptop Item Image">
  </a>
            <div class="card-footer text-center">
              <span class="discount-text">Up to 50% off</span>
          </div> 
        </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100">
          <div class="card-header text-center fw-bold">Electric Kettles</div>
          <a href="{{url_for('kettle')}}">
          <img src="https://img.freepik.com/premium-photo/electric-water-kettle_615801-6.jpg?w=1800" class="card-img-top" alt="Laptop Item Image">
  </a>
          <div class="card-footer text-center">
            <span class="discount-text">Up to 60 off</span>
        </div> 
      </div>
  </div>
  <div class="col-md-3">
    <div class="card h-100">
        <div class="card-header text-center fw-bold">Electric Bulbs</div>
        <a href="{{url_for('bulb')}}">
        <img src="https://images.pexels.com/photos/3946155/pexels-photo-3946155.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="Laptop Item Image">
  </a>
        <div class="card-footer text-center">
          <span class="discount-text">Up to 10% off</span>
      </div> 
    </div>
</div>
<div class="container my-4">
  <img src="/static/Photos/LadiesBanner.gif" alt="Men Banner" class="banner">
    <div class="menImages">
            <a href="{{url_for('women1')}}"><img src="/static/women/1.jpg" alt=""></a>
            <a href="{{url_for('women2')}}"><img src="/static/women/2.jpg" alt=""></a>
            <a href="{{url_for('women3')}}"><img src="/static/women/3.jpg" alt=""></a>
            <a href="{{url_for('women4')}}"><img src="/static/women/4.jpg" alt=""></a>
            <a href="{{url_for('women5')}}"><img src="/static/women/5.jpg" alt=""></a>
            <a href="{{url_for('women6')}}"><img src="/static/women/6.jpg" alt=""></a>
    </div>
</div>
<div class="col-md-3">
  <div class="card h-100">
      <div class="card-header text-center fw-bold">Water heater</div>
      <a href="{{url_for('heater')}}">
      <img src="https://img.freepik.com/premium-vector/water-heater-set_251819-77.jpg?w=1800" class="card-img-top" alt="Laptop Item Image">
  </a>
      <div class="card-footer text-center">
        <span class="discount-text">Up to 67% off</span>
    </div> 
  </div>
</div>
<div class="col-md-3">
  <div class="card h-100">
      <div class="card-header text-center fw-bold">Sports</div>
      <a href="{{url_for('sports')}}">
      <img src="https://img.freepik.com/premium-vector/set-sport-equipment_37787-1199.jpg?w=1800" class="card-img-top" alt="Laptop Item Image">
  </a>
      <div class="card-footer text-center">
        <span class="discount-text">Up to 20% off</span>
    </div> 
  </div>
</div>
<div class="col-md-3">
  <div class="card h-100">
      <div class="card-header text-center fw-bold">Sofas Set</div>
      <a href="{{url_for('sofa')}}">
      <img src="https://img.freepik.com/premium-photo/sofa-set-3d-modeling-jpeg-file-realistic-sofa-set_788415-4124.jpg?w=1060" class="card-img-top" alt="Laptop Item Image">
        </a>
      <div class="card-footer text-center">
        <span class="discount-text">Up to 55% off</span>
    </div> 
  </div>
</div>
<div class="col-md-3">
  <div class="card h-100">
      <div class="card-header text-center fw-bold">Bags</div>
      <a href="{{url_for('bag')}}">
      <img src="https://img.freepik.com/premium-photo/leather-suitcase_73762-411.jpg?w=740" class="card-img-top" alt="Laptop Item Image">        
    </a>
      <div class="card-footer text-center">
        <span class="discount-text">Up to 45% off</span>
    </div> 
  </div>
</div>
<img src="/static/Photos/footer.png" alt=""> 
        </div>
    </div>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

